<app-header />

<div class="contact-wrapper">
  <div class="contact-header">
    <h2>Contact Information</h2>
    <p>Here you can find my professional profiles and contact details.</p>
  </div>

  <div class="contact-info">
    <div class="contact-item">
      <span class="label">Name:</span>
      <span class="value">Dmytro Dobrev</span>
    </div>

    <div class="contact-item">
      <span class="label">LinkedIn:</span>
      <a
        class="value link"
        href="https://www.linkedin.com/in/dmytro-dobrev"
        target="_blank"
      >
        www.linkedin.com/in/dmytro-dobrev
      </a>
    </div>

    <div class="contact-item">
      <span class="label">GitHub:</span>
      <a class="value link" href="https://github.com/dobrevd" target="_blank">
        github.com/dobrevd
      </a>
    </div>
  </div>
</div>
