<app-header />

<main class="audit-container">
  <h2>Audit Service</h2>
  <h3>You can fetch data from MongoDB</h3>

  <div class="controls">
    <button (click)="fetchLog()" [disabled]="isLoading" class="fetch-button">
      @if (isLoading) {
      <span class="spinner"></span>
      }
      {{ isLoading ? "Loading..." : "Refresh Data" }}
    </button>

    <div class="page-size-selector">
      <label for="pageSize">Items per page:</label>
      <select id="pageSize" [(ngModel)]="pageSize" (change)="fetchLog(0)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>

  @if (error) {
  <div class="error-message">
    {{ error }}
  </div>
  } @if (isEmpty && !isLoading && !error) {
  <div class="no-data">No data available</div>
  } @if (!isEmpty) {
  <div class="events">
    <table>
      <thead>
        <tr>
          <th (click)="changeSort('eventId')">
            Request ID @if(sortField === 'eventId') { ({{ sortDirection }})}
          </th>
          <th (click)="changeSort('userId')">
            User ID @if(sortField === 'userId') { ({{ sortDirection }})}
          </th>
          <th>Event Type</th>
          <th>Short URL</th>
          <th>Original URL</th>
          <th (click)="changeSort('timestamp')">
            Date @if(sortField === 'timestamp') { ({{ sortDirection }})}
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of result; track item.eventId) {
        <tr>
          <td>{{ item.eventId }}</td>
          <td>{{ item.userId }}</td>
          <td>{{ item.eventType }}</td>
          <td>
            <a [href]="item.shortUrlHash" target="_blank">
              {{ item.shortUrlHash }}
            </a>
          </td>
          <td>
            <a [href]="item.originalUrl" target="_blank" class="original-url">
              {{ item.originalUrl }}
            </a>
          </td>
          <td>{{ item.timestamp | date : "yyyy-MM-dd HH:mm" }}</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="pagination-controls">
      <button
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 0 || isLoading"
      >
        Previous
      </button>

      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <span>Total items: {{ totalElements }}</span>

      <button
        (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage >= totalPages - 1 || isLoading"
      >
        Next
      </button>
    </div>
  </div>
  }
</main>
