<app-header />

<main class="audit-container">
  <h2>Audit Service</h2>
  <h3>You can fetch data from MongoDB</h3>

  <button (click)="fetchLog()" [disabled]="isLoading" class="fetch-button">
    @if (isLoading) {
    <span class="spinner"></span>
    }
    {{ isLoading ? "Loading..." : "Fetch Audit log" }}
  </button>

  @if (error) {
  <div class="error-message">
    {{ error }}
  </div>
  } @if (isEmpty && !isLoading && !error) {
  <div class="no-data">No data available</div>
  } @if (!isEmpty) {
  <div class="events">
    <table>
      <thead>
        <tr>
          <th>Request ID</th>
          <th>User ID</th>
          <th>Event Type</th>
          <th>Short URL</th>
          <th>Original URL</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        @for (item of result; track item.eventId) {
        <tr>
          <td>{{ item.eventId }}</td>
          <td>{{ item.userId }}</td>
          <td>{{ item.eventType }}</td>
          <td>
            <a [href]="item.shortUrlHash" target="_blank">
              {{ item.shortUrlHash }}
            </a>
          </td>
          <td>
            <a [href]="item.originalUrl" target="_blank" class="original-url">
              {{ item.originalUrl }}
            </a>
          </td>
          <td>{{ item.timestamp | date : "yyyy-MM-dd HH:mm" }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</main>
