<app-header/>

<div class="dashboard">
  <div class="service-card">
    <h2>🔗 URL Shortener</h2>
    <p>Quickly and easily shorten any long URL</p>
    <button (click)="navigateToUrlShortener()">Switch</button>
  </div>

  <div class="service-card">
    <h2>🕵️ Audit Service</h2>
    <p>Check who did what</p>
    <button (click)="navigateToAudit()">Show events</button>
  </div>

  <div class="service-card">
    <h2>📊 Stats Service</h2>
    <p>See how often links are clicked</p>
    <button (click)="navigateToStats()">Show statistics</button>
  </div>
</div>
