<app-header />

<div class="main-content">
  <div class="action-buttons">
    <app-url-action-button
      [buttonText]="'Shorten'"
      (click)="showShortenForm()"
      [customClass]="activeAction === 'shorten' ? 'active' : ''"
    >
    </app-url-action-button>

    <app-url-action-button
      [buttonText]="'Resolve'"
      (click)="showResolveForm()"
      [customClass]="activeAction === 'resolve' ? 'active' : ''"
    >
    </app-url-action-button>
  </div>

  <div class="forms">
    <article *ngIf="isShortenFormVisible">
      <form (ngSubmit)="shortenUrl()">
        <input
          type="text"
          [(ngModel)]="userId"
          name="userId"
          placeholder="Enter user ID"
          required
        />
        <input
          type="text"
          [(ngModel)]="originalUrl"
          name="originalUrl"
          placeholder="Enter Long-URL"
          required
        />
        <button type="submit" class="primary-button">Get Short-URL</button>
      </form>

      <div *ngIf="shortUrl" class="short-url-box">
        <p class="short-url-label">Short URL:</p>
        <a [href]="shortUrl" target="_blank" class="short-url-link">
          <span class="link-icon">🔗</span> {{ shortUrl }}
        </a>
      </div>      
    </article>

    <article *ngIf="isResolveFormVisible">
      <form (ngSubmit)="resolveUrl()">
        <input
          type="text"
          [(ngModel)]="userId"
          name="userId"
          placeholder="Enter user ID"
          required
        />
        <input
          [(ngModel)]="shortUrlKey"
          placeholder="Enter Short-URL"
          name="shortUrlKey"
          required
        />
        <button type="submit" class="primary-button">Get Long-URL</button>
      </form>

      <div *ngIf="retrievedLongUrl" class="short-url-box">
        <p class="short-url-label">Long-URL:</p>
        <a [href]="retrievedLongUrl" target="_blank" class="short-url-link">
          <span class="link-icon">🌐</span> {{ retrievedLongUrl }}
        </a>
      </div>
    </article>
  </div>
</div>
