<h2>URL Shortener</h2>

<button (click)="toggleMode()">
  {{ mode === "shorten" ? "Switch to Resolve" : "Switch to Shorten" }}
</button>
<span class="mode-indicator"
  >(Current: {{ mode === "shorten" ? "Shorten" : "Resolve" }})</span
>

<form *ngIf="mode === 'shorten'" (ngSubmit)="shortenUrl()">
  <input
    type="text"
    [(ngModel)]="userId"
    name="userId"
    placeholder="Enter user ID"
    required
  />

  <input
    type="text"
    [(ngModel)]="originalUrl"
    name="originalUrl"
    placeholder="Enter Long-URL"
    required
  />

  <button type="submit">Shorten</button>
</form>

<div *ngIf="shortUrl && mode === 'shorten'">
  <p>Short URL:</p>
  <a [href]="shortUrl" target="_blank">{{ shortUrl }}</a>
</div>

<form *ngIf="mode === 'resolve'" (ngSubmit)="resolveUrl()">
  <input
    type="text"
    [(ngModel)]="userId"
    name="userId"
    placeholder="Enter user ID"
    required
  />

  <input
    [(ngModel)]="shortUrlKey"
    placeholder="Enter Short-URL"
    name="shortUrlKey"
    required
  />
  <button (click)="resolveUrl()">Get Long-URL</button>
</form>

<div *ngIf="retrievedLongUrl && mode === 'resolve'">
  <p>Long-URL:</p>
  <a [href]="retrievedLongUrl" target="_blank">{{ retrievedLongUrl }}</a>
</div>
